In [2]:
# --------------------------------------------------------
# analysis/1_analysis.ipynb
# (노트북 최상단 셀에 복붙하세요)
# --------------------------------------------------------

import sys, os
from pathlib import Path

# 현재 Jupyter Notebook이 실행된 디렉터리가 analysis/인 경우,
# Path().resolve()는 analysis/폴더 경로를 가리킵니다.
# 따라서 .parent.parent로 두 단계 올라가면 프로젝트 루트가 됩니다.
BASE_DIR = Path().resolve().parent.parent

# 혹은, 명시적으로 CWD(현재 작업 디렉터리)를 얻고 싶으면:
# BASE_DIR = Path(os.getcwd()).parent.parent

# 프로젝트 루트를 PYTHONPATH에 삽입
if str(BASE_DIR) not in sys.path:
    sys.path.insert(0, str(BASE_DIR))

# 이제 아래 임포트가 정상 동작합니다
from scripts.data_loader import load_data

# 테스트: pm10 데이터 불러오기
df_pm10 = load_data("pm10")
df_pm10.head()

,구분,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,수원,...,함양,남해,산청,의령,창녕,합천,도평균.7,제주,서귀포,도평균.8
0,2006.01 월,65,52,60,73,72,56,37,NaN,74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,49,NaN
1,2006.02 월,67,55,61,72,65,55,44,NaN,76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,45,NaN
2,2006.03 월,81,82,82,83,83,69,81,NaN,95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66,56,NaN
3,2006.04 월,107,93,87,111,82,82,91,NaN,129,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75,64,NaN
4,2006.05 월,63,61,52,69,64,51,55,NaN,71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49,50,NaN

In [8]:
# 사용방법 - 복사하여 주석만 제거하여 사용
import sys
from pathlib import Path

# 현재 노트북(.ipynb)이 src/ 안에 있으니 상위 폴더(프로젝트 루트)를 추가
BASE_DIR    = Path().resolve().parent.parent    # Notebook이 src/ 안이라면 .parent
config_path = BASE_DIR / 'config' / 'data_paths.yaml'
sys.path.insert(0, str(BASE_DIR))


# 이제 바로 import
from scripts.data_loader import load_data
df_pm10 = load_data('pm10')

ModuleNotFoundError: No module named 'scripts.data_loader'

In [1]:
from scripts.data_loader import load_data
df = load_data('pm10', section='raw')

ModuleNotFoundError: No module named 'scripts.data_loader'

In [19]:
!pip install python-dotenv

Defaulting to user installation because normal site-packages is not writeable
Collecting python-dotenv
  Downloading python_dotenv-1.1.0-py3-none-any.whl.metadata (24 kB)
Downloading python_dotenv-1.1.0-py3-none-any.whl (20 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.1.0

In [5]:
from src.utils.db_util import DustDB
# [1] 클래스 불러오기

In [14]:
import scripts.boot

In [20]:
from src.utils.project_setup import init
BASE_DIR = init()

프로젝트 루트: C:\team_project\dust
sys.path 맨 앞에 추가됨: C:\team_project\dust

In [21]:
from src.utils.db_util import DustDB

db = DustDB()

pm10_data = db.load_table("pm10_fact", start="202301", end="202312")
print("pm10_fact (2023년) 샘플:")
print(pm10_data.head())

# 필요하다면 pm10_asthma_fact, pm10_rhinitis_fact도 직접 호출
pm10_asthma_df = db.load_table("pm10_asthma_fact", start="202301", end="202312")
print("\npm10_asthma_fact (2023년) 샘플:")
print(pm10_asthma_df.head())

pm10_rhinitis_df = db.load_table("pm10_rhinitis_fact", start="202301", end="202312")
print("\npm10_rhinitis_fact (2023년) 샘플:")
print(pm10_rhinitis_df.head())

pm10_fact (2023년) 샘플:
     id date_id region_name  pm10
0   205  202301       서울특별시  48.0
1   431  202301       부산광역시  37.0
2   657  202301       대구광역시  42.0
3   883  202301       인천광역시  50.0
4  1109  202301       광주광역시  47.0

pm10_asthma_fact (2023년) 샘플:
       id      ym region gender age_group  visit_count
0  349991  202301     가평     남자         1            9
1  349992  202301     가평     남자         2           10
2  349993  202301     가평     남자         3            3
3  349994  202301     가평     남자         4           12
4  349995  202301     가평     남자         5           33

pm10_rhinitis_fact (2023년) 샘플:
       id      ym region gender age_group  visit_count
0  354953  202301     가평     남자         1           48
1  354954  202301     가평     남자         2           71
2  354955  202301     가평     남자         3           78
3  354956  202301     가평     남자         4          256
4  354957  202301     가평     남자         5          259

In [22]:
df_seoul = db.load_by_region(
    table_name="pm25_rhinitis_fact",
    region_name="서울",
    start="202201"
)
print("서울 지역 pm25_rhinitis_fact (2022년 1월 이후) 샘플:")
print(df_seoul.head())

서울 지역 pm25_rhinitis_fact (2022년 1월 이후) 샘플:
Empty DataFrame
Columns: [id, ym, region, gender, age_group, visit_count]
Index: []

In [23]:
# [셀5] pm25_rhinitis_fact 테이블 내에 어떤 지역(region)들이 있는지 확인
regions = db.get_regions("pm25_rhinitis_fact")
print("pm25_rhinitis_fact에 존재하는 고유 지역들:")
print(regions)

pm25_rhinitis_fact에 존재하는 고유 지역들:
['가평', '강릉', '강진', '거제', '거창', '경산', '경주', '계룡', '고령', '고성', '고양', '고창', '고흥', '곡성', '공주', '과천', '광명', '광양', '광주', '광주광역시', '괴산', '구례', '구리', '구미', '군산', '군포', '금산', '김제', '김천', '김포', '김해', '나주', '남양주', '남원', '남해', '논산', '단양', '담양', '당진', '대구광역시', '대전광역시', '동두천', '동해', '목포', '무안', '무주', '문경', '밀양', '보령', '보성', '보은', '봉화', '부산광역시', '부안', '부여', '부천', '사천', '산청', '삼척', '상주', '서귀포', '서산', '서울특별시', '서천', '성남', '성주', '세종특별자치시', '속초', '수원', '순창', '순천', '시흥', '신안', '아산', '안동', '안산', '안성', '안양', '양구', '양산', '양양', '양주', '양평', '여수', '여주', '연천', '영광', '영덕', '영동', '영암', '영양', '영월', '영주', '영천', '예산', '예천', '오산', '옥천', '완도', '완주', '용인', '울산광역시', '울진', '원주', '음성', '의령', '의성', '의왕', '의정부', '이천', '익산', '인제', '인천광역시', '임실', '장성', '장수', '장흥', '전주', '정선', '정읍', '제주', '제천', '증평', '진도', '진안', '진주', '진천', '창녕', '창원', '천안', '철원', '청도', '청송', '청양', '청주', '춘천', '충주', '칠곡', '태백', '태안', '통영', '파주', '평창', '평택', '포천', '포항', '하남', '하동', '함안', '함양', '함평', '합천', '해남', '홍성', '홍천', '화성', '화순', '화천', '횡성']

In [18]:
df_seoul_special = db.load_by_region(
    table_name="pm25_rhinitis_fact",
    region_name="서울특별시",   # ← 정확히 테이블에 들어 있는 문자열
    start="202201"
)
print("서울특별시 pm25_rhinitis_fact (2022년 1월 이후) 샘플:")
print(df_seoul_special.head())
print("총 로우 개수:", len(df_seoul_special))

서울특별시 pm25_rhinitis_fact (2022년 1월 이후) 샘플:
       id      ym region gender age_group  visit_count
0  367074  202201  서울특별시     남자         1        12567
1  367075  202201  서울특별시     남자         2        12586
2  367076  202201  서울특별시     남자         3         5257
3  367077  202201  서울특별시     남자         4        30371
4  367078  202201  서울특별시     남자         5        22273
총 로우 개수: 288

In [19]:
# 1) 고유 region 값들 확인
regions = db.get_regions("pm25_rhinitis_fact")
print("pm25_rhinitis_fact에 저장된 지역 리스트:")
print(regions)

# 2) 고유 region 중 하나(예: "서울특별시")로 날짜 필터 없이 데이터 조회
if "서울특별시" in regions:
    df_seoul_nodate = db.load_by_region("pm25_rhinitis_fact", "서울특별시")
    print("\n서울특별시 (날짜 필터 없이) 총 로우 개수:", len(df_seoul_nodate))
    print(df_seoul_nodate.head())
else:
    print("\n?? 테이블에 '서울특별시'가 들어 있지 않습니다.")

# 3) 고유 region 중 하나(예: "서울특별시")로 날짜 필터 포함해서 조회
if "서울특별시" in regions:
    df_seoul_nodate = db.load_by_region(
        "pm25_rhinitis_fact",
        region_name="서울특별시",
        start="202201",
        end="202312"
    )
    print("\n서울특별시 (2022.01~2023.12) 총 로우 개수:", len(df_seoul_nodate))
    print(df_seoul_nodate.head())

pm25_rhinitis_fact에 저장된 지역 리스트:
['가평', '강릉', '강진', '거제', '거창', '경산', '경주', '계룡', '고령', '고성', '고양', '고창', '고흥', '곡성', '공주', '과천', '광명', '광양', '광주', '광주광역시', '괴산', '구례', '구리', '구미', '군산', '군포', '금산', '김제', '김천', '김포', '김해', '나주', '남양주', '남원', '남해', '논산', '단양', '담양', '당진', '대구광역시', '대전광역시', '동두천', '동해', '목포', '무안', '무주', '문경', '밀양', '보령', '보성', '보은', '봉화', '부산광역시', '부안', '부여', '부천', '사천', '산청', '삼척', '상주', '서귀포', '서산', '서울특별시', '서천', '성남', '성주', '세종특별자치시', '속초', '수원', '순창', '순천', '시흥', '신안', '아산', '안동', '안산', '안성', '안양', '양구', '양산', '양양', '양주', '양평', '여수', '여주', '연천', '영광', '영덕', '영동', '영암', '영양', '영월', '영주', '영천', '예산', '예천', '오산', '옥천', '완도', '완주', '용인', '울산광역시', '울진', '원주', '음성', '의령', '의성', '의왕', '의정부', '이천', '익산', '인제', '인천광역시', '임실', '장성', '장수', '장흥', '전주', '정선', '정읍', '제주', '제천', '증평', '진도', '진안', '진주', '진천', '창녕', '창원', '천안', '철원', '청도', '청송', '청양', '청주', '춘천', '충주', '칠곡', '태백', '태안', '통영', '파주', '평창', '평택', '포천', '포항', '하남', '하동', '함안', '함양', '함평', '합천', '해남', '홍성', '홍천', '화성', '화순', '화천', '횡성']

서울특별시 (날짜 필터 없이) 총 로우 개수: 2592
    id      ym region gender age_group  visit_count
0  745  200601  서울특별시     남자         1        23751
1  746  200601  서울특별시     남자         2        27923
2  747  200601  서울특별시     남자         3        15976
3  748  200601  서울특별시     남자         4        55477
4  749  200601  서울특별시     남자         5        37559

서울특별시 (2022.01~2023.12) 총 로우 개수: 288
       id      ym region gender age_group  visit_count
0  367074  202201  서울특별시     남자         1        12567
1  367075  202201  서울특별시     남자         2        12586
2  367076  202201  서울특별시     남자         3         5257
3  367077  202201  서울특별시     남자         4        30371
4  367078  202201  서울특별시     남자         5        22273